# import libraries

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# load dados data

In [4]:
df = ld.read_csv_first_n_entries('../../../dados.csv', n=50)

In [5]:
df.head()

,flightid,origem,destino,dt_dep,dt_arr,day,hour,weekday,path,distance_path_km,...,aero_metar,snapshot_radar,hora_esperas,esperas,aero_esperas,hora_tcp,troca,aero_tcp,hora_tcr,aero_tcr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,1654044297000,1654046760000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,228,...,SBKP,"MULTIPOINT ((-0.7536792855 -0.3990632025), (-0...",1.654078e+12,3,SBKP,1.654124e+12,1,RJ,NaN,NaN
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,1654045021000,1654047173000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,73,...,SBGR,"MULTIPOINT ((-0.7899858672 -0.4100310496), (-0...",1.654121e+12,2,SBGR,1.654124e+12,1,RJ,NaN,NaN
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,1654043212000,1654047825000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,253,...,SBBR,"MULTIPOINT ((-0.7738062221 -0.3789342454), (-0...",NaN,0,NaN,1.654124e+12,1,RJ,NaN,NaN
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,1654045120000,1654047701000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,277,...,SBCF,"MULTIPOINT ((-0.7733487457 -0.3473309624), (-0...",1.654078e+12,3,SBKP,1.654124e+12,1,KP,NaN,NaN
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,1654045238000,1654050785000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,1242,...,SBCF,"MULTIPOINT ((-0.8475488606 -0.4827363881), (-0...",NaN,0,NaN,1.654124e+12,1,FL,1.654045e+12,SBFL

In [76]:
df["dt_dep"].apply(lambda x: pd.to_datetime(x, unit='ms'))

0    2022-06-01 00:44:57
1    2022-06-01 00:57:01
2    2022-06-01 00:26:52
3    2022-06-01 00:58:40
4    2022-06-01 01:00:38
5    2022-06-01 00:15:31
6    2022-06-01 09:20:04
7    2022-06-01 00:59:53
8    2022-06-01 01:20:45
9    2022-06-01 01:13:59
10   2022-06-01 00:43:22
11   2022-06-01 01:26:38
12   2022-06-01 00:51:05
13   2022-06-01 00:49:22
14   2022-06-01 01:14:56
15   2022-06-01 01:26:19
16   2022-06-01 11:27:00
17   2022-06-01 11:21:30
18   2022-06-01 11:33:30
19   2022-06-01 11:08:46
20   2022-06-01 10:48:07
21   2022-06-01 11:38:20
22   2022-06-01 12:12:29
23   2022-06-01 00:21:29
24   2022-06-01 01:33:36
25   2022-06-01 01:30:13
26   2022-06-01 01:51:17
27   2022-06-01 01:48:03
28   2022-06-01 10:41:40
29   2022-06-01 11:09:11
30   2022-06-01 10:20:31
31   2022-06-01 10:49:59
32   2022-06-01 11:01:47
33   2022-06-01 11:08:40
34   2022-06-01 09:13:39
35   2022-06-01 12:01:48
36   2022-06-01 11:43:24
37   2022-06-01 12:39:03
38   2022-06-01 12:46:40
39   2022-06-01 09:58:16
40   2022-06-01 10:27:09
41   2022-06-01 10:50:50
42   2022-06-01 09:53:00
43   2022-06-01 10:52:17
44   2022-06-01 10:09:23
45   2022-06-01 11:52:17
46   2022-06-01 12:04:03
47   2022-06-01 10:05:18
48   2022-06-01 10:05:40
49   2022-06-01 10:29:45
Name: dt_dep, dtype: datetime64[ns]

In [6]:
df.columns

Index(['flightid', 'origem', 'destino', 'dt_dep', 'dt_arr', 'day', 'hour',
       'weekday', 'path', 'distance_path_km', 'avg_speed', 'avg_flightlevel',
       'dt_prev', 'hora_metaf', 'metaf', 'aero_metaf', 'hora_metar', 'metar',
       'aero_metar', 'snapshot_radar', 'hora_esperas', 'esperas',
       'aero_esperas', 'hora_tcp', 'troca', 'aero_tcp', 'hora_tcr',
       'aero_tcr'],
      dtype='object')

# load metaf data

In [23]:
metaf_2022_06_02 = pd.read_csv('../../data/bruto/metaf/metaf_2022-06-02_2022-06-02.csv')

In [31]:
metaf_2022_06_01 = pd.read_csv('../../data/bruto/metaf/metaf_2022-06-01_2022-06-01.csv')

In [74]:
metaf_2022_06_03 = pd.read_csv('../../data/bruto/metaf/metaf_2022-06-03_2022-06-03.csv')

# exploratory analysis of metaf data

In [24]:
metaf_2022_06_02.head()

            hora                                              metaf  aero
0  1654128000000   METAF SBGL 020000Z  10005KT CAVOK 24/21 Q1014=\n  SBGL
1  1654131600000   METAF SBGL 020100Z  20003KT CAVOK 24/21 Q1014=\n  SBGL
2  1654192800000  METAF SBGL 021800Z  20012KT 7000       OVC019 ...  SBGL
3  1654196400000  METAF SBGL 021900Z  20012KT 7000       OVC033 ...  SBGL
4  1654200000000  METAF SBGL 022000Z  20011KT 6000       OVC015 ...  SBGL

### Hora data is in miliseconds (hour*3600000)

In [ ]:
diff = metaf_2022_06_02["hora"][0] - metaf_2022_06_01["hora"][0]
diff

In [35]:
diff/3600000

24.0

In [36]:
metaf_2022_06_02["hora"][0]/3600000

459480.0

In [37]:
metaf_2022_06_01["hora"]=metaf_2022_06_01["hora"]/3600000

In [39]:
metaf_2022_06_01["hora"].describe()

count        96.000000
mean     459467.500000
std           6.958524
min      459456.000000
25%      459461.750000
50%      459467.500000
75%      459473.250000
max      459479.000000
Name: hora, dtype: float64

In [41]:
metaf_2022_06_01["hora"].max()-metaf_2022_06_01["hora"].min()

23.0

In [42]:
metaf_2022_06_02["hora"]=metaf_2022_06_02["hora"]/3600000

In [44]:
metaf_2022_06_01["hora"].max()-metaf_2022_06_02["hora"].min()

-1.0

### data is hourly

In [47]:
metaf_2022_06_01["hora"][1]-metaf_2022_06_01["hora"][0]

1.0

### there is data represented for 4 airports

In [51]:
metaf_2022_06_01[metaf_2022_06_01["hora"]==metaf_2022_06_01["hora"].min()]

        hora                                              metaf  aero
0   459456.0  METAF SBGL 010000Z  25002KT 3000     BR OVC033...  SBGL
24  459456.0  METAF SBGR 010000Z  12008KT 1000     BR OVC033...  SBGR
48  459456.0  METAF SBKP 010000Z  12013KT 5000     BR BKN033...  SBKP
72  459456.0  METAF SBSP 010000Z  13008KT 1000     BR OVC033...  SBSP

In [52]:
metaf_2022_06_01["aero"].describe()

count       96
unique       4
top       SBGL
freq        24
Name: aero, dtype: object

In [53]:
metaf_2022_06_01_SBGL = metaf_2022_06_01[metaf_2022_06_01["aero"]=="SBGL"]

In [54]:
metaf_2022_06_01_SBGL["hora"].describe()

count        24.000000
mean     459467.500000
std           7.071068
min      459456.000000
25%      459461.750000
50%      459467.500000
75%      459473.250000
max      459479.000000
Name: hora, dtype: float64

In [55]:
metaf_2022_06_02_SBGL = metaf_2022_06_02[metaf_2022_06_02["aero"]=="SBGL"]

In [56]:
metaf_2022_06_02_SBGL["hora"].describe()

count         8.000000
mean     459495.500000
std           9.396048
min      459480.000000
25%      459493.750000
50%      459499.500000
75%      459501.250000
max      459503.000000
Name: hora, dtype: float64

In [57]:
metaf_2022_06_02["aero"].describe()

count       32
unique       4
top       SBGL
freq         8
Name: aero, dtype: object

In [59]:
metaf_2022_06_02["aero"].unique()

array(['SBGL', 'SBGR', 'SBKP', 'SBSP'], dtype=object)

### data is consistent from day to day

In [60]:
metaf_2022_06_02["aero"].unique() == metaf_2022_06_01["aero"].unique()

array([ True,  True,  True,  True])

In [72]:
metaf_2022_06_01["hora_dt"] = metaf_2022_06_01["hora"].apply(lambda x: pd.to_datetime(x, unit='h'))
metaf_2022_06_02["hora_dt"] = metaf_2022_06_02["hora"].apply(lambda x: pd.to_datetime(x, unit='h'))

In [75]:
metaf_2022_06_03["hora_dt"] = metaf_2022_06_03["hora"].apply(lambda x: pd.to_datetime(x, unit='ms'))
metaf_2022_06_03["hora_dt"].head()

0   2022-06-03 00:00:00
1   2022-06-03 01:00:00
2   2022-06-03 02:00:00
3   2022-06-03 03:00:00
4   2022-06-03 04:00:00
Name: hora_dt, dtype: datetime64[ns]

# daily data for june

In [26]:
file_path = '../../data/processado/metaf/metaf_2022-06-01_2022-06-30.csv'
metaf_june_2022 = pd.read_csv(file_path)
metaf_june_2022.describe()

               hora
count  2.312000e+03
mean   1.655445e+12
std    7.349957e+08
min    1.654042e+12
25%    1.654848e+12
50%    1.655555e+12
75%    1.656076e+12
max    1.656630e+12

In [27]:
metaf_june_2022.head()

,hora,metaf,aero,hora_dt
0,1654041600000,METAF SBGL 010000Z 25002KT 3000 BR OVC033...,SBGL,2022-06-01 00:00:00
1,1654045200000,METAF SBGL 010100Z 02001KT 2000 BR OVC011 ...,SBGL,2022-06-01 01:00:00
2,1654048800000,METAF SBGL 010200Z 09000KT 2000 BR OVC011 ...,SBGL,2022-06-01 02:00:00
3,1654052400000,METAF SBGL 010300Z 09002KT 1000 RABR OVC033...,SBGL,2022-06-01 03:00:00
4,1654056000000,METAF SBGL 010400Z 07003KT 1000 RABR OVC033...,SBGL,2022-06-01 04:00:00

In [28]:
metaf_june_2022.dtypes

hora        int64
metaf      object
aero       object
hora_dt    object
dtype: object

In [29]:
metaf_june_2022["hora_dt"] = pd.to_datetime(metaf_june_2022["hora_dt"])

In [30]:
metaf_june_2022["hora_dt"].describe()

count                             2312
mean     2022-06-17 05:57:36.747404800
min                2022-06-01 00:00:00
25%                2022-06-10 08:00:00
50%                2022-06-18 12:30:00
75%                2022-06-24 13:00:00
max                2022-06-30 23:00:00
Name: hora_dt, dtype: object

In [31]:
# set index [hora_dt, aero]
# metaf_june_2022.set_index(["hora_dt", "aero"], inplace=True)

In [32]:
metaf_june_2022_SBGL = metaf_june_2022[metaf_june_2022["aero"]=="SBGL"].copy()

In [33]:
metaf_june_2022_SBGL.head()

,hora,metaf,aero,hora_dt
0,1654041600000,METAF SBGL 010000Z 25002KT 3000 BR OVC033...,SBGL,2022-06-01 00:00:00
1,1654045200000,METAF SBGL 010100Z 02001KT 2000 BR OVC011 ...,SBGL,2022-06-01 01:00:00
2,1654048800000,METAF SBGL 010200Z 09000KT 2000 BR OVC011 ...,SBGL,2022-06-01 02:00:00
3,1654052400000,METAF SBGL 010300Z 09002KT 1000 RABR OVC033...,SBGL,2022-06-01 03:00:00
4,1654056000000,METAF SBGL 010400Z 07003KT 1000 RABR OVC033...,SBGL,2022-06-01 04:00:00

In [34]:
metaf_june_2022_SBGL.dtypes

hora                int64
metaf              object
aero               object
hora_dt    datetime64[ns]
dtype: object

CAVOK: Ceiling And Visibility OK

In [35]:
columns = ["report", "station", "dt_origin", "wind", "clouds","temperature", "dew_point","altimeter (hPA)"]

In [36]:
# in column metaf remove 9999
metaf_june_2022_SBGL["metaf"] = metaf_june_2022_SBGL["metaf"].str.replace(" 9999", "")

In [37]:
from limpeza_dados import clean_metaf
metaf_june_2022_SBGL["metaf"]=clean_metaf(metaf_june_2022_SBGL["metaf"])

In [38]:
metaf_june_2022_SBGL["metaf"][0]

'METAF,SBGL,010000Z,25002KT,3000,BR,OVC033,23,21,Q1016'

In [39]:
# desired format: METAF,SBGL,25001KT,3000,....
# if after KT, there is not a number, add 0000
# if after KT, there is a number, don't change
for row in metaf_june_2022_SBGL["metaf"]:
    if not row.split("KT,")[1][0].isdigit():
        # if it has CAVOK, then the number is 10000
        if "CAVOK" in row:
            row = row.replace("KT,", "KT,10000,")
        else:
            row = row.replace("KT,", "KT,0000,")
        print(row)

METAF,SBGL,011600Z,15003KT,0000,SCT033,25,20,Q1013
METAF,SBGL,011700Z,17005KT,0000,SCT033,26,20,Q1013
METAF,SBGL,011800Z,15008KT,0000,SCT030,26,21,Q1013
METAF,SBGL,011900Z,13009KT,0000,FEW033,26,21,Q1013
METAF,SBGL,012300Z,09007KT,10000,CAVOK,24,21,Q1014
METAF,SBGL,020000Z,10005KT,10000,CAVOK,24,21,Q1014
METAF,SBGL,020100Z,20003KT,10000,CAVOK,24,21,Q1014
METAF,SBGL,031900Z,23005KT,0000,OVC027,23,19,Q1017
METAF,SBGL,032000Z,24006KT,0000,BKN027,23,18,Q1018
METAF,SBGL,032100Z,25006KT,0000,BKN023,23,18,Q1018
METAF,SBGL,061800Z,17003KT,10000,CAVOK,24,16,Q1012
METAF,SBGL,061900Z,15005KT,10000,CAVOK,25,16,Q1013
METAF,SBGL,062000Z,17006KT,10000,CAVOK,24,17,Q1016
METAF,SBGL,062100Z,13005KT,10000,CAVOK,24,17,Q1013
METAF,SBGL,062200Z,11005KT,10000,CAVOK,24,17,Q1014
METAF,SBGL,062300Z,07002KT,10000,CAVOK,23,17,Q1015
METAF,SBGL,070000Z,14004KT,10000,CAVOK,23,16,Q1014
METAF,SBGL,070100Z,13004KT,10000,CAVOK,22,16,Q1014
METAF,SBGL,070200Z,11003KT,10000,CAVOK,22,16,Q1017
METAF,SBGL,070300Z,07004KT,10000,CAVOK,22,15,Q1013
METAF,SBGL,070400Z,06002KT,10000,CAVOK,22,15,Q1013
METAF,SBGL,070500Z,24001KT,10000,CAVOK,23,15,Q1013
METAF,SBGL,070600Z,23005KT,10000,CAVOK,21,14,Q1010
METAF,SBGL,070700Z,18004KT,10000,CAVOK,21,14,Q1011
METAF,SBGL,070800Z,18004KT,10000,CAVOK,21,15,Q1014
METAF,SBGL,070900Z,16002KT,10000,CAVOK,21,15,Q1012
METAF,SBGL,071000Z,35001KT,10000,CAVOK,21,15,Q1013
METAF,SBGL,071100Z,28001KT,10000,CAVOK,22,15,Q1015
METAF,SBGL,071200Z,27006KT,10000,CAVOK,22,14,Q1013
METAF,SBGL,071300Z,34001KT,10000,CAVOK,23,15,Q1013
METAF,SBGL,071400Z,05003KT,10000,CAVOK,23,16,Q1016
METAF,SBGL,071500Z,09003KT,10000,CAVOK,23,16,Q1012
METAF,SBGL,071600Z,14004KT,10000,CAVOK,24,16,Q1012
METAF,SBGL,071700Z,15006KT,10000,CAVOK,24,16,Q1012
METAF,SBGL,071800Z,17008KT,10000,CAVOK,24,18,Q1011
METAF,SBGL,071900Z,17008KT,10000,CAVOK,23,19,Q1012
METAF,SBGL,081600Z,09002KT,0000,FEW033,22,18,Q1014
METAF,SBGL,081700Z,12002KT,10000,CAVOK,23,18,Q1014
METAF,SBGL,081800Z,16009KT,10000,CAVOK,23,19,Q1012
METAF,SBGL,101700Z,10003KT,10000,CAVOK,23,19,Q1013
METAF,SBGL,101800Z,19005KT,10000,CAVOK,25,19,Q1009
METAF,SBGL,101900Z,17010KT,10000,CAVOK,24,20,Q1011
METAF,SBGL,112000Z,16005KT,0000,OVC033,21,16,Q1017
METAF,SBGL,112100Z,16006KT,0000,OVC033,21,16,Q1016
METAF,SBGL,121700Z,24001KT,0000,OVC033,20,15,Q1016
METAF,SBGL,121800Z,22008KT,0000,OVC033,20,16,Q1013
METAF,SBGL,121900Z,22007KT,0000,OVC033,20,15,Q1017
METAF,SBGL,122000Z,25006KT,0000,OVC033,20,15,Q1018
METAF,SBGL,122100Z,22006KT,0000,OVC033,20,15,Q1017
METAF,SBGL,122200Z,26004KT,0000,OVC033,20,15,Q1017
METAF,SBGL,122300Z,23007KT,0000,OVC033,20,15,Q1019
METAF,SBGL,130000Z,21008KT,0000,OVC033,20,13,Q1017
METAF,SBGL,130100Z,26003KT,0000,OVC033,20,13,Q1019
METAF,SBGL,130200Z,27005KT,0000,OVC033,20,13,Q1021
METAF,SBGL,130300Z,27006KT,0000,OVC033,19,13,Q1018
METAF,SBGL,130400Z,31006KT,0000,BKN033,19,13,Q1017
METAF,SBGL,130500Z,25006KT,0000,BKN033,19,13,Q1019
METAF,SBGL,130600Z,31008KT,0000,FEW032,18,12,Q1016
METAF,SBGL,130700Z,32010KT,10000,CAVOK,18,12,Q1020
METAF,SBGL,130800Z,30011KT,10000,CAVOK,18,12,Q1021
METAF,SBGL,130900Z,30010KT,10000,CAVOK,18,12,Q1018
METAF,SBGL,131000Z,29008KT,10000,CAVOK,18,11,Q1019
METAF,SBGL,131100Z,28006KT,10000,CAVOK,18,11,Q1022
METAF,SBGL,131200Z,29009KT,0000,SCT033,18,12,Q1018
METAF,SBGL,131300Z,28010KT,10000,CAVOK,19,12,Q1023
METAF,SBGL,131400Z,28009KT,10000,CAVOK,21,11,Q1023
METAF,SBGL,131500Z,27008KT,10000,CAVOK,22,11,Q1019
METAF,SBGL,131600Z,20007KT,10000,CAVOK,22,12,Q1020
METAF,SBGL,131700Z,20010KT,10000,CAVOK,21,13,Q1021
METAF,SBGL,131800Z,25008KT,0000,SCT033,21,12,Q1017
METAF,SBGL,131900Z,28008KT,0000,FEW033,21,12,Q1020
METAF,SBGL,132000Z,28008KT,10000,CAVOK,21,12,Q1022
METAF,SBGL,132100Z,25005KT,10000,CAVOK,20,12,Q1019
METAF,SBGL,132200Z,22004KT,10000,CAVOK,20,13,Q1022
METAF,SBGL,132300Z,25002KT,0000,BKN027,20,14,Q1024
METAF,SBGL,140800Z,29008KT,0000,BKN030,18,13,Q1023
METAF,SBGL,140900Z,29008KT,0000,BKN028,17,13,Q1021
METAF,SBGL,141000Z,29007KT,0000,BKN028,17,13,Q1022
METAF,SBGL,141100Z,30008KT,0000,OVC028,18,13,Q1023
METAF,SBGL,141200Z,27007KT,0000,OVC026,18,12,Q1022
METAF,SBGL,141300Z,28004KT,0000,OVC028,20,13,Q1024
METAF,SBGL,141400Z,28004KT,0000,BKN033,21,13,Q1025
METAF,SBGL,141500Z,35003KT,0000,OVC033,21,14,Q1022
METAF,SBGL,141600Z,20002KT,0000,OVC029,21,14,Q1022
METAF,SBGL,141700Z,17006KT,0000,BKN024,21,16,Q1022
METAF,SBGL,141800Z,16005KT,0000,OVC026,21,15,Q1019
METAF,SBGL,141900Z,14006KT,0000,OVC026,21,15,Q1022
METAF,SBGL,142000Z,15005KT,0000,OVC026,21,15,Q1023
METAF,SBGL,142100Z,13005KT,0000,OVC023,21,15,Q1022
METAF,SBGL,142200Z,07006KT,0000,OVC021,20,16,Q1022
METAF,SBGL,151400Z,36001KT,0000,FEW021,19,15,Q1024
METAF,SBGL,151500Z,11000KT,10000,CAVOK,20,14,Q1021
METAF,SBGL,151600Z,09000KT,10000,CAVOK,21,14,Q1021
METAF,SBGL,151700Z,12002KT,10000,CAVOK,22,13,Q1020
METAF,SBGL,151800Z,14003KT,10000,CAVOK,22,15,Q1019
METAF,SBGL,151900Z,15008KT,10000,CAVOK,22,16,Q1020
METAF,SBGL,152000Z,13009KT,10000,CAVOK,22,15,Q1020
METAF,SBGL,152100Z,12008KT,0000,FEW033,21,15,Q1020
METAF,SBGL,152200Z,12008KT,0000,SCT033,21,15,Q1021
METAF,SBGL,152300Z,10007KT,10000,CAVOK,20,15,Q1021
METAF,SBGL,160000Z,09006KT,10000,CAVOK,20,15,Q1021
METAF,SBGL,160100Z,07006KT,10000,CAVOK,19,15,Q1021
METAF,SBGL,180600Z,25005KT,10000,CAVOK,21,13,Q1009
METAF,SBGL,180700Z,26002KT,10000,CAVOK,21,13,Q1009
METAF,SBGL,180800Z,07001KT,10000,CAVOK,22,13,Q1011
METAF,SBGL,180900Z,27003KT,10000,CAVOK,22,14,Q1011
METAF,SBGL,181000Z,25007KT,10000,CAVOK,22,13,Q1012
METAF,SBGL,181100Z,29006KT,10000,CAVOK,23,13,Q1014
METAF,SBGL,181200Z,28007KT,10000,CAVOK,23,14,Q1013
METAF,SBGL,181300Z,25004KT,10000,CAVOK,24,15,Q1015
METAF,SBGL,181400Z,21005KT,10000,CAVOK,24,17,Q1017
METAF,SBGL,181500Z,17006KT,0000,FEW033,24,18,Q1016
METAF,SBGL,181600Z,17008KT,0000,FEW032,24,18,Q1014
METAF,SBGL,181700Z,17009KT,0000,FEW030,24,19,Q1016
METAF,SBGL,181800Z,22012KT,0000,OVC025,24,19,Q1012
METAF,SBGL,191600Z,12003KT,0000,OVC033,21,16,Q1022
METAF,SBGL,191700Z,14004KT,0000,OVC033,22,16,Q1022
METAF,SBGL,191800Z,11009KT,0000,OVC033,22,16,Q1018
METAF,SBGL,191900Z,08010KT,0000,OVC033,22,17,Q1021
METAF,SBGL,192000Z,09010KT,0000,OVC033,22,17,Q1021
METAF,SBGL,192100Z,09010KT,0000,OVC033,21,16,Q1020
METAF,SBGL,192200Z,12008KT,0000,OVC033,21,16,Q1022
METAF,SBGL,201100Z,09002KT,10000,CAVOK,19,15,Q1021
METAF,SBGL,201300Z,13002KT,10000,CAVOK,20,16,Q1023
METAF,SBGL,201400Z,14002KT,10000,CAVOK,21,15,Q1023
METAF,SBGL,201500Z,14002KT,10000,CAVOK,22,16,Q1019
METAF,SBGL,201600Z,16003KT,10000,CAVOK,23,16,Q1020
METAF,SBGL,201700Z,17004KT,10000,CAVOK,23,17,Q1019
METAF,SBGL,201800Z,17004KT,10000,CAVOK,24,17,Q1017
METAF,SBGL,201900Z,17003KT,10000,CAVOK,24,17,Q1018
METAF,SBGL,202000Z,17005KT,10000,CAVOK,24,18,Q1018
METAF,SBGL,202100Z,10007KT,10000,CAVOK,23,18,Q1018
METAF,SBGL,202200Z,09008KT,10000,CAVOK,22,19,Q1019
METAF,SBGL,202300Z,10008KT,10000,CAVOK,22,18,Q1019
METAF,SBGL,210300Z,08006KT,10000,CAVOK,21,18,Q1018
METAF,SBGL,210400Z,08005KT,10000,CAVOK,21,17,Q1019
METAF,SBGL,210500Z,07006KT,10000,CAVOK,21,17,Q1019
METAF,SBGL,211100Z,15002KT,10000,CAVOK,20,17,Q1020
METAF,SBGL,211200Z,12003KT,10000,CAVOK,20,17,Q1020
METAF,SBGL,211300Z,17005KT,10000,CAVOK,22,17,Q1021
METAF,SBGL,211400Z,18002KT,10000,CAVOK,22,18,Q1021
METAF,SBGL,211500Z,11001KT,10000,CAVOK,23,17,Q1018
METAF,SBGL,211600Z,12003KT,10000,CAVOK,24,17,Q1018
METAF,SBGL,211700Z,13003KT,10000,CAVOK,25,17,Q1017
METAF,SBGL,211800Z,15004KT,10000,CAVOK,25,18,Q1015
METAF,SBGL,211900Z,15004KT,10000,CAVOK,25,19,Q1016
METAF,SBGL,212000Z,13005KT,10000,CAVOK,25,19,Q1016
METAF,SBGL,212100Z,10007KT,10000,CAVOK,25,20,Q1015
METAF,SBGL,212200Z,08008KT,10000,CAVOK,24,19,Q1016
METAF,SBGL,212300Z,08008KT,10000,CAVOK,23,19,Q1016
METAF,SBGL,220000Z,10007KT,10000,CAVOK,23,19,Q1016
METAF,SBGL,220100Z,09006KT,10000,CAVOK,22,17,Q1017
METAF,SBGL,220200Z,10006KT,10000,CAVOK,22,17,Q1018
METAF,SBGL,220300Z,08006KT,10000,CAVOK,22,17,Q1016
METAF,SBGL,220400Z,10005KT,10000,CAVOK,22,17,Q1016
METAF,SBGL,220500Z,11003KT,10000,CAVOK,22,17,Q1015
METAF,SBGL,220600Z,14005KT,10000,CAVOK,20,16,Q1015
METAF,SBGL,220700Z,13004KT,10000,CAVOK,21,15,Q1016
METAF,SBGL,220800Z,11004KT,10000,CAVOK,21,15,Q1017
METAF,SBGL,220900Z,10005KT,10000,CAVOK,21,16,Q1015
METAF,SBGL,221000Z,12003KT,10000,CAVOK,21,16,Q1016
METAF,SBGL,221100Z,18002KT,10000,CAVOK,22,16,Q1016
METAF,SBGL,221200Z,23002KT,10000,CAVOK,23,16,Q1016
METAF,SBGL,221300Z,11001KT,10000,CAVOK,24,16,Q1017
METAF,SBGL,221400Z,10003KT,10000,CAVOK,25,16,Q1018
METAF,SBGL,221500Z,08003KT,10000,CAVOK,26,16,Q1015
METAF,SBGL,221600Z,09002KT,10000,CAVOK,27,15,Q1015
METAF,SBGL,221700Z,08003KT,10000,CAVOK,27,15,Q1014
METAF,SBGL,221800Z,09004KT,10000,CAVOK,27,17,Q1012
METAF,SBGL,221900Z,08004KT,10000,CAVOK,27,16,Q1013
METAF,SBGL,222000Z,10004KT,10000,CAVOK,27,17,Q1015
METAF,SBGL,222100Z,10006KT,10000,CAVOK,26,18,Q1013
METAF,SBGL,222200Z,09005KT,10000,CAVOK,25,19,Q1014
METAF,SBGL,222300Z,08003KT,10000,CAVOK,24,18,Q1015
METAF,SBGL,230000Z,10005KT,10000,CAVOK,23,18,Q1014
METAF,SBGL,230100Z,11004KT,10000,CAVOK,23,18,Q1015
METAF,SBGL,230200Z,10005KT,10000,CAVOK,23,17,Q1015
METAF,SBGL,230300Z,09006KT,10000,CAVOK,23,16,Q1013
METAF,SBGL,230400Z,10004KT,10000,CAVOK,23,16,Q1014
METAF,SBGL,230500Z,09003KT,10000,CAVOK,24,16,Q1014
METAF,SBGL,230600Z,14002KT,10000,CAVOK,21,15,Q1013
METAF,SBGL,230700Z,18002KT,10000,CAVOK,22,15,Q1014
METAF,SBGL,230800Z,23003KT,10000,CAVOK,22,16,Q1016
METAF,SBGL,230900Z,28002KT,10000,CAVOK,22,16,Q1014
METAF,SBGL,231000Z,14001KT,10000,CAVOK,22,15,Q1016
METAF,SBGL,231100Z,10002KT,10000,CAVOK,22,15,Q1017
METAF,SBGL,231200Z,14002KT,10000,CAVOK,23,15,Q1016
METAF,SBGL,231300Z,12002KT,10000,CAVOK,23,16,Q1017
METAF,SBGL,231400Z,12003KT,10000,CAVOK,24,15,Q1018
METAF,SBGL,231500Z,09002KT,10000,CAVOK,25,15,Q1016
METAF,SBGL,231600Z,06003KT,10000,CAVOK,26,14,Q1015
METAF,SBGL,231700Z,06003KT,10000,CAVOK,27,14,Q1015
METAF,SBGL,231800Z,10004KT,10000,CAVOK,27,16,Q1012
METAF,SBGL,231900Z,10004KT,10000,CAVOK,28,15,Q1014
METAF,SBGL,232000Z,13004KT,10000,CAVOK,27,17,Q1016
METAF,SBGL,232100Z,12004KT,10000,CAVOK,26,18,Q1014
METAF,SBGL,232200Z,10004KT,10000,CAVOK,25,18,Q1015
METAF,SBGL,232300Z,07004KT,10000,CAVOK,24,17,Q1016
METAF,SBGL,240000Z,09006KT,10000,CAVOK,23,18,Q1014
METAF,SBGL,240100Z,09006KT,10000,CAVOK,23,18,Q1015
METAF,SBGL,240200Z,10004KT,10000,CAVOK,23,18,Q1017
METAF,SBGL,240300Z,09005KT,10000,CAVOK,23,16,Q1015
METAF,SBGL,240400Z,11004KT,10000,CAVOK,22,15,Q1015
METAF,SBGL,240500Z,11004KT,10000,CAVOK,23,15,Q1016
METAF,SBGL,240600Z,15003KT,10000,CAVOK,21,16,Q1013
METAF,SBGL,240700Z,16003KT,10000,CAVOK,21,15,Q1016
METAF,SBGL,240800Z,15002KT,10000,CAVOK,22,15,Q1017
METAF,SBGL,240900Z,13003KT,10000,CAVOK,22,15,Q1016
METAF,SBGL,241000Z,11004KT,10000,CAVOK,22,14,Q1016
METAF,SBGL,241100Z,14003KT,10000,CAVOK,22,13,Q1017
METAF,SBGL,241200Z,16002KT,10000,CAVOK,22,12,Q1016
METAF,SBGL,241300Z,14003KT,10000,CAVOK,24,15,Q1018
METAF,SBGL,241400Z,13002KT,10000,CAVOK,25,14,Q1019
METAF,SBGL,241500Z,12002KT,10000,CAVOK,26,14,Q1016
METAF,SBGL,241600Z,11002KT,10000,CAVOK,26,13,Q1016
METAF,SBGL,241700Z,14002KT,10000,CAVOK,27,13,Q1016
METAF,SBGL,241800Z,12004KT,10000,CAVOK,27,15,Q1013
METAF,SBGL,241900Z,12004KT,10000,CAVOK,27,15,Q1015
METAF,SBGL,242000Z,15005KT,10000,CAVOK,26,17,Q1017
METAF,SBGL,242100Z,19006KT,10000,CAVOK,25,18,Q1015
METAF,SBGL,242200Z,21005KT,10000,CAVOK,24,19,Q1017
METAF,SBGL,242300Z,23005KT,10000,CAVOK,24,18,Q1018
METAF,SBGL,250000Z,18006KT,10000,CAVOK,22,19,Q1016
METAF,SBGL,250100Z,19004KT,10000,CAVOK,22,19,Q1018
METAF,SBGL,250500Z,22003KT,10000,CAVOK,21,18,Q1017
METAF,SBGL,250600Z,18003KT,10000,CAVOK,20,14,Q1013
METAF,SBGL,250700Z,11005KT,10000,CAVOK,20,15,Q1017
METAF,SBGL,250800Z,11003KT,10000,CAVOK,20,16,Q1018
METAF,SBGL,250900Z,13005KT,10000,CAVOK,20,16,Q1016
METAF,SBGL,251000Z,08004KT,10000,CAVOK,20,16,Q1017
METAF,SBGL,251100Z,19001KT,10000,CAVOK,20,16,Q1017
METAF,SBGL,251200Z,20003KT,10000,CAVOK,21,16,Q1017
METAF,SBGL,251300Z,21004KT,10000,CAVOK,23,15,Q1017
METAF,SBGL,251400Z,23004KT,10000,CAVOK,25,15,Q1017
METAF,SBGL,251500Z,22008KT,10000,CAVOK,26,15,Q1016
METAF,SBGL,251600Z,21011KT,10000,CAVOK,25,16,Q1017
METAF,SBGL,251700Z,22011KT,10000,CAVOK,24,17,Q1017
METAF,SBGL,251800Z,22010KT,0000,FEW027,23,18,Q1017
METAF,SBGL,261300Z,13005KT,0000,OVC020,21,17,Q1023
METAF,SBGL,261400Z,14004KT,0000,OVC020,21,17,Q1024
METAF,SBGL,261500Z,14006KT,0000,BKN022,21,16,Q1021
METAF,SBGL,261600Z,13003KT,0000,BKN026,22,16,Q1019
METAF,SBGL,261700Z,16004KT,0000,BKN030,22,15,Q1019
METAF,SBGL,261800Z,16011KT,0000,OVC031,22,15,Q1018
METAF,SBGL,261900Z,15012KT,0000,BKN029,22,15,Q1021
METAF,SBGL,262000Z,14008KT,0000,BKN033,21,15,Q1022
METAF,SBGL,262100Z,12007KT,0000,BKN033,21,15,Q1020
METAF,SBGL,262200Z,10008KT,0000,BKN033,20,15,Q1021
METAF,SBGL,262300Z,10008KT,0000,OVC033,20,15,Q1022
METAF,SBGL,270000Z,10007KT,0000,OVC033,20,15,Q1021
METAF,SBGL,270100Z,09006KT,0000,OVC033,19,15,Q1023
METAF,SBGL,271100Z,07005KT,0000,FEW023,19,14,Q1022
METAF,SBGL,271300Z,07004KT,0000,BKN022,19,14,Q1025
METAF,SBGL,271400Z,03003KT,0000,BKN027,20,14,Q1026
METAF,SBGL,271500Z,04003KT,0000,SCT031,20,13,Q1023
METAF,SBGL,271600Z,09002KT,10000,CAVOK,21,13,Q1022
METAF,SBGL,271700Z,08002KT,10000,CAVOK,21,13,Q1020
METAF,SBGL,271800Z,13004KT,0000,BKN033,22,13,Q1018
METAF,SBGL,271900Z,13011KT,0000,OVC033,22,14,Q1020
METAF,SBGL,272000Z,12012KT,0000,BKN033,21,14,Q1023
METAF,SBGL,272100Z,10011KT,0000,BKN033,21,14,Q1021
METAF,SBGL,272200Z,10011KT,0000,SCT033,21,14,Q1022
METAF,SBGL,272300Z,06011KT,10000,CAVOK,20,13,Q1021
METAF,SBGL,280000Z,09012KT,10000,CAVOK,19,14,Q1019
METAF,SBGL,280100Z,09013KT,10000,CAVOK,19,14,Q1019
METAF,SBGL,280200Z,09012KT,10000,CAVOK,19,13,Q1023
METAF,SBGL,280300Z,07011KT,10000,CAVOK,19,13,Q1020
METAF,SBGL,280400Z,07008KT,10000,CAVOK,19,13,Q1019
METAF,SBGL,280500Z,08006KT,10000,CAVOK,18,13,Q1018
METAF,SBGL,280600Z,14004KT,10000,CAVOK,17,13,Q1018
METAF,SBGL,280700Z,12002KT,10000,CAVOK,17,13,Q1019
METAF,SBGL,280800Z,20002KT,10000,CAVOK,17,13,Q1022
METAF,SBGL,280900Z,01003KT,10000,CAVOK,17,13,Q1020
METAF,SBGL,281000Z,03003KT,10000,CAVOK,17,13,Q1020
METAF,SBGL,281100Z,15001KT,10000,CAVOK,18,13,Q1021
METAF,SBGL,281200Z,16004KT,10000,CAVOK,18,14,Q1020
METAF,SBGL,281300Z,15004KT,10000,CAVOK,20,14,Q1021
METAF,SBGL,281400Z,16004KT,10000,CAVOK,21,13,Q1023
METAF,SBGL,281500Z,13004KT,10000,CAVOK,22,14,Q1019
METAF,SBGL,281600Z,14003KT,10000,CAVOK,22,15,Q1019
METAF,SBGL,281700Z,11001KT,10000,CAVOK,23,14,Q1018
METAF,SBGL,281800Z,16005KT,10000,CAVOK,23,15,Q1014
METAF,SBGL,281900Z,16006KT,10000,CAVOK,23,16,Q1016
METAF,SBGL,282000Z,14006KT,10000,CAVOK,23,16,Q1018
METAF,SBGL,282100Z,13005KT,10000,CAVOK,23,16,Q1015
METAF,SBGL,282200Z,13004KT,10000,CAVOK,23,16,Q1017
METAF,SBGL,282300Z,11004KT,10000,CAVOK,22,16,Q1017
METAF,SBGL,290000Z,14006KT,10000,CAVOK,21,16,Q1015
METAF,SBGL,290100Z,12006KT,10000,CAVOK,21,15,Q1017
METAF,SBGL,290200Z,10006KT,10000,CAVOK,21,14,Q1017
METAF,SBGL,290300Z,09004KT,10000,CAVOK,21,14,Q1015
METAF,SBGL,290400Z,10005KT,10000,CAVOK,21,15,Q1015
METAF,SBGL,290500Z,10004KT,10000,CAVOK,21,15,Q1015
METAF,SBGL,290600Z,12006KT,10000,CAVOK,20,14,Q1013
METAF,SBGL,290700Z,10007KT,10000,CAVOK,20,14,Q1014
METAF,SBGL,290800Z,15003KT,10000,CAVOK,20,14,Q1015
METAF,SBGL,290900Z,35001KT,10000,CAVOK,21,14,Q1013
METAF,SBGL,291000Z,27004KT,10000,CAVOK,21,15,Q1015
METAF,SBGL,291100Z,29005KT,10000,CAVOK,22,15,Q1015
METAF,SBGL,291200Z,13003KT,10000,CAVOK,21,13,Q1014
METAF,SBGL,291300Z,09005KT,10000,CAVOK,22,15,Q1016
METAF,SBGL,291400Z,17001KT,10000,CAVOK,23,16,Q1017
METAF,SBGL,291500Z,13001KT,10000,CAVOK,24,15,Q1013
METAF,SBGL,291600Z,09001KT,10000,CAVOK,25,15,Q1013
METAF,SBGL,291700Z,33001KT,10000,CAVOK,26,14,Q1012
METAF,SBGL,291800Z,08005KT,10000,CAVOK,26,16,Q1009
METAF,SBGL,291900Z,07005KT,10000,CAVOK,26,16,Q1012
METAF,SBGL,292000Z,10002KT,10000,CAVOK,26,16,Q1015
METAF,SBGL,292100Z,08004KT,10000,CAVOK,25,17,Q1013
METAF,SBGL,292200Z,05009KT,10000,CAVOK,24,17,Q1012
METAF,SBGL,292300Z,05012KT,10000,CAVOK,24,17,Q1011
METAF,SBGL,300000Z,07006KT,10000,CAVOK,23,17,Q1011
METAF,SBGL,300100Z,13005KT,10000,CAVOK,22,17,Q1014
METAF,SBGL,300200Z,22008KT,10000,CAVOK,23,17,Q1016
METAF,SBGL,300300Z,27006KT,10000,CAVOK,22,18,Q1014
METAF,SBGL,301200Z,28005KT,0000,OVC033,21,16,Q1018
METAF,SBGL,301300Z,23002KT,0000,OVC033,21,15,Q1021
METAF,SBGL,301400Z,05002KT,0000,BKN027,22,16,Q1023
METAF,SBGL,301500Z,14004KT,0000,BKN031,22,15,Q1020
METAF,SBGL,301600Z,16008KT,0000,BKN031,22,16,Q1021
METAF,SBGL,301700Z,16006KT,0000,SCT032,22,16,Q1019
METAF,SBGL,301800Z,14006KT,0000,FEW031,22,16,Q1017
METAF,SBGL,301900Z,14004KT,10000,CAVOK,22,16,Q1017
METAF,SBGL,302000Z,15005KT,10000,CAVOK,22,16,Q1017
METAF,SBGL,302100Z,14008KT,10000,CAVOK,22,16,Q1017
METAF,SBGL,302200Z,13009KT,0000,FEW033,21,16,Q1019

In [40]:
# string into multiple columns
# columns = ["report", "station", "dt_origin", "wind", "visibility", "weather", "clouds","temperature", "dew_point","altimeter (hPA)"]
new_columns = metaf_june_2022_SBGL["metaf"].str.split(",", expand=True)

In [41]:
new_columns.shape

(578, 10)

In [42]:
# check whether any of the rows in columns 2 does not end in Z
new_columns[2].str.endswith("Z").value_counts()

2
True    578
Name: count, dtype: int64

In [43]:
# check whether any of the rows in columns 3 does not end in KT
new_columns[3].str.endswith("KT").value_counts()

3
True    578
Name: count, dtype: int64

Visibility
CAVOK: Ceiling And Visibility OK -> replaces visibility, clouds and weather
5000 means visibility is 5000 meters.

In [50]:
new_columns[4].unique()

array(['3000', '2000', '1000', '4000', '8000', '9000', 'SCT033', 'SCT030',
       'FEW033', '7000', 'CAVOK', '6000', '5000', 'OVC027', 'BKN027',
       'BKN023', 'OVC033', 'BKN033', 'FEW032', 'BKN030', 'BKN028',
       'OVC028', 'OVC026', 'OVC029', 'BKN024', 'OVC023', 'OVC021',
       'FEW021', 'FEW030', 'OVC025', 'FEW027', 'OVC020', 'BKN022',
       'BKN026', 'OVC031', 'BKN029', 'FEW023', 'SCT031', 'BKN031',
       'SCT032', 'FEW031'], dtype=object)

In [45]:
multiples_of_1000 = np.arange(1000, 10000, 1000)
multiples_of_1000 = multiples_of_1000.astype(str)

In [46]:
new_columns[4].isin(multiples_of_1000).value_counts()

4
False    326
True     252
Name: count, dtype: int64

In [51]:
new_columns[~new_columns[4].isin(multiples_of_1000)].head()

        0     1        2        3       4   5   6      7     8     9
16  METAF  SBGL  011600Z  15003KT  SCT033  25  20  Q1013  None  None
17  METAF  SBGL  011700Z  17005KT  SCT033  26  20  Q1013  None  None
18  METAF  SBGL  011800Z  15008KT  SCT030  26  21  Q1013  None  None
19  METAF  SBGL  011900Z  13009KT  FEW033  26  21  Q1013  None  None
23  METAF  SBGL  012300Z  09007KT   CAVOK  24  21  Q1014  None  None