# import libraries

In [96]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import limpeza_dados as ld
from datetime import datetime

# load dados data

In [4]:
df = ld.read_csv_first_n_entries('../../../dados.csv', n=50)

In [5]:
df.head()

,flightid,origem,destino,dt_dep,dt_arr,day,hour,weekday,path,distance_path_km,...,aero_metar,snapshot_radar,hora_esperas,esperas,aero_esperas,hora_tcp,troca,aero_tcp,hora_tcr,aero_tcr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,1654044297000,1654046760000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,228,...,SBKP,"MULTIPOINT ((-0.7536792855 -0.3990632025), (-0...",1.654078e+12,3,SBKP,1.654124e+12,1,RJ,NaN,NaN
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,1654045021000,1654047173000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,73,...,SBGR,"MULTIPOINT ((-0.7899858672 -0.4100310496), (-0...",1.654121e+12,2,SBGR,1.654124e+12,1,RJ,NaN,NaN
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,1654043212000,1654047825000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,253,...,SBBR,"MULTIPOINT ((-0.7738062221 -0.3789342454), (-0...",NaN,0,NaN,1.654124e+12,1,RJ,NaN,NaN
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,1654045120000,1654047701000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,277,...,SBCF,"MULTIPOINT ((-0.7733487457 -0.3473309624), (-0...",1.654078e+12,3,SBKP,1.654124e+12,1,KP,NaN,NaN
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,1654045238000,1654050785000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,1242,...,SBCF,"MULTIPOINT ((-0.8475488606 -0.4827363881), (-0...",NaN,0,NaN,1.654124e+12,1,FL,1.654045e+12,SBFL

In [76]:
df["dt_dep"].apply(lambda x: pd.to_datetime(x, unit='ms'))

0    2022-06-01 00:44:57
1    2022-06-01 00:57:01
2    2022-06-01 00:26:52
3    2022-06-01 00:58:40
4    2022-06-01 01:00:38
5    2022-06-01 00:15:31
6    2022-06-01 09:20:04
7    2022-06-01 00:59:53
8    2022-06-01 01:20:45
9    2022-06-01 01:13:59
10   2022-06-01 00:43:22
11   2022-06-01 01:26:38
12   2022-06-01 00:51:05
13   2022-06-01 00:49:22
14   2022-06-01 01:14:56
15   2022-06-01 01:26:19
16   2022-06-01 11:27:00
17   2022-06-01 11:21:30
18   2022-06-01 11:33:30
19   2022-06-01 11:08:46
20   2022-06-01 10:48:07
21   2022-06-01 11:38:20
22   2022-06-01 12:12:29
23   2022-06-01 00:21:29
24   2022-06-01 01:33:36
25   2022-06-01 01:30:13
26   2022-06-01 01:51:17
27   2022-06-01 01:48:03
28   2022-06-01 10:41:40
29   2022-06-01 11:09:11
30   2022-06-01 10:20:31
31   2022-06-01 10:49:59
32   2022-06-01 11:01:47
33   2022-06-01 11:08:40
34   2022-06-01 09:13:39
35   2022-06-01 12:01:48
36   2022-06-01 11:43:24
37   2022-06-01 12:39:03
38   2022-06-01 12:46:40
39   2022-06-01 09:58:16
40   2022-06-01 10:27:09
41   2022-06-01 10:50:50
42   2022-06-01 09:53:00
43   2022-06-01 10:52:17
44   2022-06-01 10:09:23
45   2022-06-01 11:52:17
46   2022-06-01 12:04:03
47   2022-06-01 10:05:18
48   2022-06-01 10:05:40
49   2022-06-01 10:29:45
Name: dt_dep, dtype: datetime64[ns]

In [6]:
df.columns

Index(['flightid', 'origem', 'destino', 'dt_dep', 'dt_arr', 'day', 'hour',
       'weekday', 'path', 'distance_path_km', 'avg_speed', 'avg_flightlevel',
       'dt_prev', 'hora_metaf', 'metaf', 'aero_metaf', 'hora_metar', 'metar',
       'aero_metar', 'snapshot_radar', 'hora_esperas', 'esperas',
       'aero_esperas', 'hora_tcp', 'troca', 'aero_tcp', 'hora_tcr',
       'aero_tcr'],
      dtype='object')

# load metaf data

In [23]:
metaf_2022_06_02 = pd.read_csv('../../data/bruto/metaf/metaf_2022-06-02_2022-06-02.csv')

In [31]:
metaf_2022_06_01 = pd.read_csv('../../data/bruto/metaf/metaf_2022-06-01_2022-06-01.csv')

In [74]:
metaf_2022_06_03 = pd.read_csv('../../data/bruto/metaf/metaf_2022-06-03_2022-06-03.csv')

# exploratory analysis of metaf data

In [24]:
metaf_2022_06_02.head()

            hora                                              metaf  aero
0  1654128000000   METAF SBGL 020000Z  10005KT CAVOK 24/21 Q1014=\n  SBGL
1  1654131600000   METAF SBGL 020100Z  20003KT CAVOK 24/21 Q1014=\n  SBGL
2  1654192800000  METAF SBGL 021800Z  20012KT 7000       OVC019 ...  SBGL
3  1654196400000  METAF SBGL 021900Z  20012KT 7000       OVC033 ...  SBGL
4  1654200000000  METAF SBGL 022000Z  20011KT 6000       OVC015 ...  SBGL

### Hora data is in miliseconds (hour*3600000)

In [ ]:
diff = metaf_2022_06_02["hora"][0] - metaf_2022_06_01["hora"][0]
diff

In [35]:
diff/3600000

24.0

In [36]:
metaf_2022_06_02["hora"][0]/3600000

459480.0

In [37]:
metaf_2022_06_01["hora"]=metaf_2022_06_01["hora"]/3600000

In [39]:
metaf_2022_06_01["hora"].describe()

count        96.000000
mean     459467.500000
std           6.958524
min      459456.000000
25%      459461.750000
50%      459467.500000
75%      459473.250000
max      459479.000000
Name: hora, dtype: float64

In [41]:
metaf_2022_06_01["hora"].max()-metaf_2022_06_01["hora"].min()

23.0

In [42]:
metaf_2022_06_02["hora"]=metaf_2022_06_02["hora"]/3600000

In [44]:
metaf_2022_06_01["hora"].max()-metaf_2022_06_02["hora"].min()

-1.0

### data is hourly

In [47]:
metaf_2022_06_01["hora"][1]-metaf_2022_06_01["hora"][0]

1.0

### there is data represented for 4 airports

In [51]:
metaf_2022_06_01[metaf_2022_06_01["hora"]==metaf_2022_06_01["hora"].min()]

        hora                                              metaf  aero
0   459456.0  METAF SBGL 010000Z  25002KT 3000     BR OVC033...  SBGL
24  459456.0  METAF SBGR 010000Z  12008KT 1000     BR OVC033...  SBGR
48  459456.0  METAF SBKP 010000Z  12013KT 5000     BR BKN033...  SBKP
72  459456.0  METAF SBSP 010000Z  13008KT 1000     BR OVC033...  SBSP

In [52]:
metaf_2022_06_01["aero"].describe()

count       96
unique       4
top       SBGL
freq        24
Name: aero, dtype: object

In [53]:
metaf_2022_06_01_SBGL = metaf_2022_06_01[metaf_2022_06_01["aero"]=="SBGL"]

In [54]:
metaf_2022_06_01_SBGL["hora"].describe()

count        24.000000
mean     459467.500000
std           7.071068
min      459456.000000
25%      459461.750000
50%      459467.500000
75%      459473.250000
max      459479.000000
Name: hora, dtype: float64

In [55]:
metaf_2022_06_02_SBGL = metaf_2022_06_02[metaf_2022_06_02["aero"]=="SBGL"]

In [56]:
metaf_2022_06_02_SBGL["hora"].describe()

count         8.000000
mean     459495.500000
std           9.396048
min      459480.000000
25%      459493.750000
50%      459499.500000
75%      459501.250000
max      459503.000000
Name: hora, dtype: float64

In [57]:
metaf_2022_06_02["aero"].describe()

count       32
unique       4
top       SBGL
freq         8
Name: aero, dtype: object

In [59]:
metaf_2022_06_02["aero"].unique()

array(['SBGL', 'SBGR', 'SBKP', 'SBSP'], dtype=object)

### data is consistent from day to day

In [60]:
metaf_2022_06_02["aero"].unique() == metaf_2022_06_01["aero"].unique()

array([ True,  True,  True,  True])

In [72]:
metaf_2022_06_01["hora_dt"] = metaf_2022_06_01["hora"].apply(lambda x: pd.to_datetime(x, unit='h'))
metaf_2022_06_02["hora_dt"] = metaf_2022_06_02["hora"].apply(lambda x: pd.to_datetime(x, unit='h'))

In [75]:
metaf_2022_06_03["hora_dt"] = metaf_2022_06_03["hora"].apply(lambda x: pd.to_datetime(x, unit='ms'))
metaf_2022_06_03["hora_dt"].head()

0   2022-06-03 00:00:00
1   2022-06-03 01:00:00
2   2022-06-03 02:00:00
3   2022-06-03 03:00:00
4   2022-06-03 04:00:00
Name: hora_dt, dtype: datetime64[ns]

# daily data for june

In [90]:
file_path = '../../data/processado/metaf/metaf_2022-06-01_2022-06-30.csv'
metaf_june_2022 = pd.read_csv(file_path)
metaf_june_2022.describe()

               hora
count  2.312000e+03
mean   1.655445e+12
std    7.349957e+08
min    1.654042e+12
25%    1.654848e+12
50%    1.655555e+12
75%    1.656076e+12
max    1.656630e+12

In [91]:
metaf_june_2022.head()

,hora,metaf,aero,hora_dt
0,1654041600000,METAF SBGL 010000Z 25002KT 3000 BR OVC033...,SBGL,2022-06-01 00:00:00
1,1654045200000,METAF SBGL 010100Z 02001KT 2000 BR OVC011 ...,SBGL,2022-06-01 01:00:00
2,1654048800000,METAF SBGL 010200Z 09000KT 2000 BR OVC011 ...,SBGL,2022-06-01 02:00:00
3,1654052400000,METAF SBGL 010300Z 09002KT 1000 RABR OVC033...,SBGL,2022-06-01 03:00:00
4,1654056000000,METAF SBGL 010400Z 07003KT 1000 RABR OVC033...,SBGL,2022-06-01 04:00:00

In [92]:
metaf_june_2022_SBGL = metaf_june_2022[metaf_june_2022["aero"]=="SBGL"]

In [93]:
metaf_june_2022_SBGL.head()

,hora,metaf,aero,hora_dt
0,1654041600000,METAF SBGL 010000Z 25002KT 3000 BR OVC033...,SBGL,2022-06-01 00:00:00
1,1654045200000,METAF SBGL 010100Z 02001KT 2000 BR OVC011 ...,SBGL,2022-06-01 01:00:00
2,1654048800000,METAF SBGL 010200Z 09000KT 2000 BR OVC011 ...,SBGL,2022-06-01 02:00:00
3,1654052400000,METAF SBGL 010300Z 09002KT 1000 RABR OVC033...,SBGL,2022-06-01 03:00:00
4,1654056000000,METAF SBGL 010400Z 07003KT 1000 RABR OVC033...,SBGL,2022-06-01 04:00:00

In [100]:
metaf_june_2022_SBGL.dtypes

hora        int64
metaf      object
aero       object
hora_dt    object
dtype: object

In [101]:
metaf_june_2022_SBGL["hora_dt"]

AttributeError: 'Series' object has no attribute 'to_datetime'