In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import limpeza_dados as ld

In [4]:
df = ld.read_csv_first_n_entries('../../../dados.csv', n=50)

In [5]:
df.head()

,flightid,origem,destino,dt_dep,dt_arr,day,hour,weekday,path,distance_path_km,...,aero_metar,snapshot_radar,hora_esperas,esperas,aero_esperas,hora_tcp,troca,aero_tcp,hora_tcr,aero_tcr
0,fcb2bf90345705318213ae1307c0f901,SBKP,SBRJ,1654044297000,1654046760000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,228,...,SBKP,"MULTIPOINT ((-0.7536792855 -0.3990632025), (-0...",1.654078e+12,3,SBKP,1.654124e+12,1,RJ,NaN,NaN
1,c7c5c10716335b048f86d8c52fcba3f2,SBGR,SBRJ,1654045021000,1654047173000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,73,...,SBGR,"MULTIPOINT ((-0.7899858672 -0.4100310496), (-0...",1.654121e+12,2,SBGR,1.654124e+12,1,RJ,NaN,NaN
2,3162de7203a972f071d5a48e8f0f4828,SBBR,SBRJ,1654043212000,1654047825000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,253,...,SBBR,"MULTIPOINT ((-0.7738062221 -0.3789342454), (-0...",NaN,0,NaN,1.654124e+12,1,RJ,NaN,NaN
3,8fcd243e9b9eebbe62ab145ce04b6ab5,SBKP,SBCF,1654045120000,1654047701000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,277,...,SBCF,"MULTIPOINT ((-0.7733487457 -0.3473309624), (-0...",1.654078e+12,3,SBKP,1.654124e+12,1,KP,NaN,NaN
4,504a62621cd231d6ab67e674ce538cd3,SBCF,SBFL,1654045238000,1654050785000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,1242,...,SBCF,"MULTIPOINT ((-0.8475488606 -0.4827363881), (-0...",NaN,0,NaN,1.654124e+12,1,FL,1.654045e+12,SBFL

In [6]:
df.columns

Index(['flightid', 'origem', 'destino', 'dt_dep', 'dt_arr', 'day', 'hour',
       'weekday', 'path', 'distance_path_km', 'avg_speed', 'avg_flightlevel',
       'dt_prev', 'hora_metaf', 'metaf', 'aero_metaf', 'hora_metar', 'metar',
       'aero_metar', 'snapshot_radar', 'hora_esperas', 'esperas',
       'aero_esperas', 'hora_tcp', 'troca', 'aero_tcp', 'hora_tcr',
       'aero_tcr'],
      dtype='object')

In [7]:
columns_analysis = ['flightid','dt_arr', 'distance_path_km']
df[columns_analysis].head()

                           flightid         dt_arr  distance_path_km
0  fcb2bf90345705318213ae1307c0f901  1654046760000               228
1  c7c5c10716335b048f86d8c52fcba3f2  1654047173000                73
2  3162de7203a972f071d5a48e8f0f4828  1654047825000               253
3  8fcd243e9b9eebbe62ab145ce04b6ab5  1654047701000               277
4  504a62621cd231d6ab67e674ce538cd3  1654050785000              1242

In [16]:
interested_flight_id = df['flightid'][10]
# find repeated flightid
df[df['flightid'] == interested_flight_id]

,flightid,origem,destino,dt_dep,dt_arr,day,hour,weekday,path,distance_path_km,...,aero_metar,snapshot_radar,hora_esperas,esperas,aero_esperas,hora_tcp,troca,aero_tcp,hora_tcr,aero_tcr
10,ccc52ea6062b9ceddfd749c1dca579ee,SBRJ,SBPA,1654044202000,1654050943000,1,1,wednesday,http://satelite.cptec.inpe.br/repositoriogoes/...,1653,...,SBPA,"MULTIPOINT ((-0.7594975513 -0.4098859242), (-0...",NaN,0,NaN,1.654124e+12,1,RJ,NaN,NaN

In [18]:
df.describe()

,dt_dep,dt_arr,day,hour,distance_path_km,avg_speed,avg_flightlevel,dt_prev,hora_metaf,hora_metar,hora_esperas,esperas,hora_tcp,troca,hora_tcr
count,5.000000e+01,5.000000e+01,50.0,50.000000,50.000000,50.000000,50.000000,5.000000e+01,3.600000e+01,5.000000e+01,3.600000e+01,50.00000,5.000000e+01,50.0,1.200000e+01
mean,1.654067e+12,1.654072e+12,1.0,6.720000,922.100000,356.640000,242.940000,1.654076e+12,1.654070e+12,1.654069e+12,1.654112e+12,1.18000,1.654124e+12,1.0,1.654074e+12
std,1.787462e+07,1.725441e+07,0.0,4.772541,1020.073492,49.637362,60.222516,1.656881e+07,1.778269e+07,1.809877e+07,2.162189e+07,1.00387,0.000000e+00,0.0,1.213193e+07
min,1.654043e+12,1.654045e+12,1.0,1.000000,43.000000,213.000000,94.000000,1.654045e+12,1.654045e+12,1.654045e+12,1.654045e+12,0.00000,1.654124e+12,1.0,1.654045e+12
25%,1.654046e+12,1.654052e+12,1.0,1.000000,257.000000,329.000000,194.000000,1.654058e+12,1.654049e+12,1.654049e+12,1.654121e+12,0.00000,1.654124e+12,1.0,1.654076e+12
50%,1.654078e+12,1.654083e+12,1.0,10.000000,682.500000,353.500000,253.000000,1.654084e+12,1.654081e+12,1.654081e+12,1.654124e+12,1.00000,1.654124e+12,1.0,1.654076e+12
75%,1.654082e+12,1.654086e+12,1.0,11.000000,870.000000,395.000000,290.000000,1.654087e+12,1.654085e+12,1.654085e+12,1.654124e+12,2.00000,1.654124e+12,1.0,1.654082e+12
max,1.654088e+12,1.654090e+12,1.0,12.000000,4031.000000,456.000000,346.000000,1.654107e+12,1.654088e+12,1.654088e+12,1.654124e+12,3.00000,1.654124e+12,1.0,1.654085e+12